.ui.menu {
    .item::before {
        width: 0;
    }
}

.top-menu-admin {
    &__logo {
        display: flex;
        align-items: center;
        width: auto;
    }

    &__heading {
        padding-left:0 !important;
    }
}

.ui.dropdown .menu > .item{ 
    cursor: default !important;
}

i.brown.icon {
    color: #bb7900 !important;
}

i.yellow.icon {
    color: rgb(255, 192, 75) !important;
}