.ui.menu {
    .item::before {
        width: 0;
    }
}

.top-menu-admin {
    &__logo {
        width: auto;
    }
}

.ui.dropdown .menu > .item{ 
    cursor: default !important;
}

i.yellow.icon {
    color: #bb7900 !important;
}