.side-menu-admin {
    .ui.menu {
        width: 250px !important;
        overflow: hidden;
        padding-top: 10em;
        z-index: 99 !important;

        i.icon {
            float: initial !important;
            margin: 0 !important;
            margin-right: 10px !important;
            margin-left: 20px;
        }
        
        a.item {
            margin-bottom: 1rem;
        }
    }

    .content {
        position: absolute;
        right: 0;
        padding: 80px;
        padding-left: 30px;
        padding-right: 30px !important;
        width: calc(100% - 250px);
    }
}

.item-menu {
    margin: 20px;
}
